/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #f44718;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

/* ===== Sidebar ===== */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar.close{
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    margin-left: 15px;
    min-width: 20px;
    border-radius: 6px;
}

.sidebar .ikon{
    min-width: 20px;
    border-radius: 6px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 17px;
}

.ikon:hover{
    filter: invert(1);
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
/* =========================== */

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}

header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 60px;
}

.sidebar li.search-box{
    border-radius: 6px;
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
    
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}

.main .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
}

main.dark .home .text{
    color: var(--text-color);
}

.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}

body.dark .home .text{
    color: var(--text-color);
}

/* ======atur main/bodynya dari sini======= */

html, body{
    display: flex;
    flex-direction: column;
}

main{
    gap: 20px; 
    margin-top: 20px;
}

.main {
    background-color: var(--body-color);
    transition: var(--tran-05);
    padding-left: 120px;
    padding-right: 30px;
    margin-bottom: 100px;
    max-width: 100vw;
}

.filters {
    display: flex;
    justify-content: flex-end;
    margin-right: 2%; 
}

select{
    border-radius: 5px;
    opacity: 0.8;
    border-color: #7ea8db;
    background-color: #ffffff;
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s; 
}

.filters section {
    margin-left: 2rem; 
}

button{
    display: flex;
    justify-content: flex-end;
    margin-right: 2%;
    margin-left: auto;
    margin-top: 5px;
    padding: 3px 10px;
    border-radius: 5px;
    opacity: 0.8;
    border-color: #7ea8db;
    background-color: #E6E6FA;
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s; 
}

button:hover {
    background-color: #0056b3; 
    color: #fff; 
}

.cards {
    width: 100%;
    padding: 10px; 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    padding-bottom: 20px;
}

.cards .card{
    padding: 20px;
    background: #fff;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.charts1, .charts2, .charts3 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    display: flex;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
}

.chart-name {
    font-size: 18;
    font-weight: 600;
    color: #ccc;
    background-color: #812f2f;
    margin-bottom: 5px;
    line-height: 2;
}

.charts1 .charts11 {
    background: #fff;
    border-radius: 7px;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.charts3 .charts32 {
    background: #fff;
    border-radius: 7px;
    flex: 3;
    align-items: center;
    justify-content: center;
}

.charts3 .charts31 {
    background: #fff;
    border-radius: 7px;
    flex: 2;
    align-items: center;
    justify-content: center;
    height: fit-content;
}

.charts1 .charts12 {
    background: #fff;
    border-radius: 7px;
    flex: 2;
    align-items: center;
    display: flex;
}

.charts2 .charts21 {
    background: #fff;
    border-radius: 7px;
    flex: 3;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.charts2 .charts22 {
    background: #fff;
    border-radius: 7px;
    flex: 3.5;
    align-items: center;
    display: flex;
}

canvas {
    width: 100% !important;
    height: 100% !important;
}

table {
    width: 100%;
    border-collapse: collapse; 
}
table thead tr {
    background-color: #f2f2f2;
}

table thead th {
    padding: 10px;
    text-align: left;
}

table tbody tr {
    border-bottom: 1px solid #ddd;
}

table tbody td {
    padding: 10px;
    text-align: left;
}

/* ======atur footernyanya dari sini======= */

footer{
    background-color: rgb(102, 116, 123);
    position: relative;
    width: 100%;
    min-height: 200px;
    padding: 1.5rem 1rem;
}

.footerContainer {
    max-width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.row{
    display: flex;
}

.col{
    min-width: 50px;
    color:#f2f2f2f2;
    padding:0 2rem;
}

.col .logo{
    width: 50px;
    margin-bottom:25px;
}
.col h3{
    color:#ff014fff;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
}

.col h3::after{
    content: '';
    height:3px;
    width:0px;
    background-color: #ff014fff;
    position: absolute;
    bottom: 0;
    left:0;
    transition: 0.3s ease;

}
.col h3:hover::after{
    width:30px
}
.col .social a {
    color:#ff014fff;
    margin-top:2rem;
    margin-right: 5px;
    transition: 0.3s ease;
}
.col .social a:hover{
    transform: scale(1.5);
    filter:grayscale(25);
}
.col .links a{
    display: block;
    text-decoration: none;
    color:#f2f2f2;
    margin-bottom: 5px;
    position: relative;
    transition: 0.3s ease;
}

.col .links a::before{
    content:'';
    height: 16px;
    width:3px;
    position: absolute;
    top:5px;
    left:-10px;
    background-color: #ff014fff;
    transition: 0.5s ease;
    opacity: 0;
}
.col .links a:hover::before{
    opacity: 1;
}
.col .links a:hover{
    transform: translateX(-8px);
    color:#ff014fff;
}
.col .contact-details{
    display: inline-flex;
    justify-content: space-between;
    gap: 5px;
    text-decoration: none;
}

.col .contact-details a{
    display: block;
    text-decoration: none;
    color:#f2f2f2;
    margin-bottom: 5px;
    position: relative;
    transition: 0.3s ease;
}

.col .contact-details a::before{
    content:'';
    height: 16px;
    width:3px;
    position: absolute;
    top:5px;
    left:-10px;
    background-color: #ff014fff;
    transition: 0.5s ease;
    opacity: 0;
}

/* ======atur responsifnya dari sini======= */

/* membuat responsif untuk layar berukuran lebar */
@media screen and (max-width: 1200px) {
    .content, .cards{
        grid-template-columns: repeat(4, 1fr);
        margin-right: 0; 
    }

    .charts3 {
        display: grid;
        grid-template-columns: 1;
    }
    
    .filters {
        justify-content: end;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}

@media screen and (max-width: 992px) {
    .cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .charts3 {
        display: grid;
        grid-template-columns: 1;
    }
}

/* membuat responsif untuk layar berukuran tablet */
@media screen and (max-width: 768px) {
    .cards{
        grid-template-columns: repeat(4, 1fr);
    }

    .charts1, .charts2, .charts3 {
        display: grid;
    }

    .charts1 .charts11 canvas {
        padding-left: 100px;
        padding-right: 100px;
    }

    button {
        margin-top: 10px;
    }

    .filters-container {
        flex-direction: column;
        align-items: flex-end;
        margin-right: 12px;
    }

    .filters {
        flex-direction: column; 
        align-items: flex-end; 
        gap: 3px; 
    }

    button {
        margin-top: 10px; 
    }
}

/* membuat responsif untuk layar berukuran kecil */
@media screen and (max-width: 576px) {
    .charts1, .charts2, .charts3 {
        display: grid;
        grid-template-columns: 1;
    }
}

@media screen and (max-width: 320px) {
    .cards {
        grid-template-columns: 1fr;
    }

    .charts1, .charts2, .charts3 {
        display: grid;
        grid-template-columns: 1;
    }
}
@media screen and (min-width: 320px) and (max-width: 760px) {
    .cards {
        grid-template-columns: repeat(2, 1fr); /* 2 kolom untuk layar antara 480px dan 760px */
    }
    margin-right: 10px;
}

/* membuat responsif untuk filter dan sidebaar close dengan ukuran layar spesifik */
@media screen and (max-width: 760px) {
    main {
        grid-template-columns: 1fr; 
    }

    .filters-container {
        flex-direction: column;
        align-items: flex-end;
        margin-right: 12px;
    }

    .filters {
        flex-direction: column; 
        align-items: flex-end; 
        gap: 3px; 
    }

    button {
        margin-top: 10px; 
    }

    .sidebar.close {
        width: 0;
        padding: 0;
    }
    
    .sidebar.close .image {
        display: none;
    }
    
    .main{
        padding-left: 20px;
    }
}

/* membuat responsif untuk footer*/
@media (min-width: 1200px){
    .row {
        margin-left: 90px; /* Pusatkan kolom */
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    .row {
        margin-left: 90px; /* Pusatkan kolom */
    }
}

@media (max-width: 768px) {
    .row {
        flex-direction: column; /* Tumpuk kolom secara vertikal */
        align-items: center; /* Pusatkan kolom */
    }

    .col {
        padding: 1rem 0; /* Sesuaikan padding untuk layar kecil */
        max-width: 100%; /* Pastikan kolom mengambil lebar penuh */
        text-align: center; /* Pusatkan teks */
    }
}

@media (max-width: 480px) {
    footer {
        padding: 1rem; /* Kurangi padding pada layar sangat kecil */
    }

    .col {
        padding: 0.5rem 0; /* Kurangi padding kolom pada layar sangat kecil */
    }

    .footerContainer {
        padding: 0; /* Kurangi padding container pada layar sangat kecil */
    }
}