/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #f44718;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
    padding-right: 20px;
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

/* ===== Sidebar ===== */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar.close{
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
/* =========================== */

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 60px;
}

.sidebar li.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
    
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}

.main .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 15px 1px;
}

main.dark .home .text{
    color: var(--text-color);
}

body.dark .home .text{
    color: var(--text-color);
}

/* ===== Sidebar selesai ===== */

.container {
    display: grid;
    gap: 20px; /* Jarak antara kolom */
    margin-bottom: 90px;
}

.main {
    background-color: var(--body-color);
    transition: var(--tran-05);
    padding-left: 120px;
}

.cards{
    margin-top: 20px;
    margin-left: 20px;
    width: 100%;
    height: auto;
    display: flex;
    gap: 10px;
}

.cards .card{
    padding: 20px;
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: center;
    background: #E6E6FA;
    border-radius: 0 7px 25px 0 rgba(0, 0, 0, 0.08);
    border: 2px solid #92A7DD;
}

.cards .card .card-name{
    font-size: 25px;
    text-align: center;
    margin-top: -1px;
    background: #B5BFD9;
}

.hypo {
    margin-top: 5px;
    font-size: 16px;
    margin-left: 18px;
    flex-wrap: wrap;
    list-style-type: square;
}

.cards .cardd{
    padding: 20px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background: #E6E6FA;
    border-radius: 0 7px 25px 0 rgba(0, 0, 0, 0.08);
    border: 2px solid #92A7DD;
}

.cards .cardd .card-name{
    font-size: 25px;
    text-align: center;
    margin-top: -1px;
    background: #B5BFD9;
}

.metrics{
    list-style-type: circle;
    font-size: 16px;
    flex-wrap: wrap;
    margin-left: 28px;
    margin-top: 5px;
}

.query{
    margin-top: 25px;
    margin-left: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.query .query1{
    width: 310px;
    height: auto;
    padding: 5px;
    flex: 1;
    background: #92A7DD;
    border-radius: 15px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.query .query1 .query-content {
    display: flex;
    justify-content: center;
}

.query .query1 .action-button1, .action-button2 {
    font-size: 23px;
    padding: 6px 17px;
    background-color: #fff;
    color: #92A7DD;
    border: 1px solid #92A7DD;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
}

.query .query1 .action-button1:hover, .action-button2:hover {
    background-color: #92A7DD;
    color: #fff;
}

#previewSection {
    display: none; 
    position: absolute; 
    top: 0; 
    left: 0; 
    background-color:#8EB1DC; 
    color: #fff;
    padding: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    z-index: 9999; 
    font-size: 20px;
}

#previewSection:target {
    display: block; 
}

.query .query1_space{
    font-size: 21px;
    min-height: 60px;
    padding: 5px;
    flex: 2;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: #E6E6FA;
    border-radius: 15px; 
    box-shadow: 2px 2px 4px #26548b;
}

.top {
    margin-top: 20px;
    margin-left: 20px;
    width: 100%;
    display: flex;
    gap: 20px;
}

.top .top1{
    height: 285px;
    flex: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 3px solid #8EB1DC;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chart-name{
    font-size: 22px;
    margin-top: 25px;
    margin-bottom: 10px;
    color: #473f3f;
}

table {
    font-family: arial, sans-serif;
    border-collapse:separate;
    width: 100%;
    border-color: #26548b;
    color: #473f3f;
  }
  
  td, th{
    border: 3px solid #92A7DD;
    text-align: center;
    align-items: center;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #E6E6FA;
  }

.top .top2{
    height: 650px;
    flex: 1;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: transparent;
    border: 3px solid #8EB1DC;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tops {
    margin-top: -350px;
    margin-left: 20px;
    width: 100%;
    display: flex;
    gap: 20px;
}

.tops .tops1{
    width: 893px;
    min-height: 343px;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: transparent;
    border: 3px solid #8EB1DC;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tops .tops2{
    flex: 1;
}

.insight {
    width: 100%;
    display: flex;
    margin-left: 20px;
    padding-left: 120px; 
}

.insight .insights{
    min-height: 300px;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    background: #fff;
    border-radius: 16px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.insights p {
    text-align: center;
    font-weight: 600;
    margin-left: 50px;
}

.insights img {
    width: 150px;
    height: min-content;
    justify-content: center;
    align-items: center;
  }

.insights .concl {
    margin-left: 40px;
    font-size: 24px;
    flex-wrap: wrap;
    list-style-type: disc;
    padding: 20px;
}

.recom {
    width: 100%;
    display: flex;
    gap: 20px;
    margin-top: 0px;
    margin-left: 20px;
    padding-left: 120px;
}

.recom1 .recom-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
}

.recom1 .recom-name {
    font-size: 30px;
    font-weight: bolder;
}

.recom1{
    height: 550px;
    flex: 230;
    background: transparent;
    border-radius: 15px; 
    border: 3px solid #8EB1DC;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.recom2, .recomm2{
    height: 120px;
    flex: 120;
    align-items: center;
    justify-content: space-between;
    background: #92A7DD;
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recom2 .recom-content, .recoms3 .recom-content, .recomm2 .recom-content, 
.recommend3 .recom-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
    font-size: 30px;
    color: #Fff;
    font-weight: bold;
}

.recom3 .recom-content, .recomm3 .recom-content {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100%;
    width: 100%;
    font-size: 32px;
    color: #18191a;
} 

.recoms2 .recom-content, .recommend2 .recom-content {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 100%;
    width: 100%;
    font-size: 32px;
    color: #18191a;
}

.recom3, .recomm3{
    flex: 720;
    height: 120px;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recoms {
    width: 100%;
    height: 120px;
    display: flex;
    gap: 20px;
    margin-top: -430px;
    margin-left: 20px;
    padding-left: 120px;
}

.recoms1, .recommend1{
    flex: 230;
    align-items: center;
    justify-content: space-between;
    background: transparent;
}

.recoms2, .recommend2{
    flex: 720;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recoms3, .recommend3{
    flex: 120;
    align-items: center;
    justify-content: space-between;
    background: #92A7DD;
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recomm {
    width: 100%;
    height: 120px;
    display: flex;
    gap: 20px;
    margin-top: -310px;
    margin-left: 20px;
    padding-left: 120px;
}

.recomm .recomm1{
    flex: 230;
    align-items: center;
    justify-content: space-between;
    background: transparent;
}

.recommend {
    width: 100%;
    height: 120px;
    display: flex;
    gap: 20px;
    margin-top: -185px;
    margin-left: 20px;
    padding-left: 120px;
}

.headtext{
    font-size: 15px;
    display: flex;
    width: 100%;
    border: 3px solid #ccc;
    padding: 20px;
    margin: 0 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #707070;
    border-color: #8eb1dc;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    
}

h1{
    font-size: 40px;
    color: #707070;
}

p{
    font-size: 25px;
    margin: 5px 23px;
}

.hasil{
    font-size: 20px;
    width: 100%;
    border: 3px solid #ccc;
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
    align-items: center;
    color: #707070;
    border-color: #8eb1dc;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
}

footer {
    background-color: #92A7DD;
    text-align: center;
    width: 100%;
    height: fit-content;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: fixed; 
    bottom: 0; 
    left: 0; 
    right: 0; 
}

/* Aturan CSS untuk layar lebar (desktop) */
@media screen and (min-width: 1200px) {
  }
  
  /* Aturan CSS untuk layar menengah (tablet) */
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .cards{
        margin-top: 20px;
        margin-left: 20px;
        width: 100%;
        height: auto;
        display: grid;
        gap: 10px;
    }
    
    .metrics, .hypo{
        font-size: 18px;
    }

    .top {
        display: grid;
    }
    
    .tops {
        margin-top: 20px;
        margin-left: 20px;
        width: 100%;
        display: flex;
        gap: 20px;
    }
    
    .tops .tops2{
        display: none;
    }

    .recom {
        display: flex;
        flex-wrap: wrap;
        gap: 20px; 
    }
    
    .recom1 {
        flex-basis: 100%; 
        height: fit-content;
        padding: 10px;
    }
    
    .recom2 {
        height: 90px;
    }
    
    .recom3 {
        flex-basis: calc(50% - 10px); 
        height: 90px;
    }
    
    .recoms {
        width: 100%;
        height: 120px;
        display: flex;
        margin-top: 1px;
        margin-left: 20px;
        padding-left: 120px;
    }

    .recoms1 {
        display: none;
    }

    .recoms3 {
        height: 90px;
    }
    
    .recoms2 {
        flex-basis: calc(50% - 10px); 
        height: 90px;
    }

    .recomm {
        display: flex;
        margin-left: 20px;
        padding-left: 120px;
        margin-top: -28px;
    }
    
    .recomm1{
        display: none;
    }

    .recomm2{
        height: 90px;
    }
    
    .recomm3{
        flex-basis: calc(50% - 10px);
        height: 90px;
    }
    
    .recommend {
        width: 100%;
        height: 120px;
        display: flex;
        margin-top: -28px;
        margin-left: 20px;
        padding-left: 120px;
    }

    .recommend1 {
        display: none;
    }

    .recommend3 {
        height: 90px;
    }
    
    .recommend2 {
        flex-basis: calc(50% - 10px); 
        height: 90px;
    }

  }
  
  /* Aturan CSS untuk layar kecil (ponsel) */
  @media screen and (max-width: 767px) {
    .cards{
        margin-top: 20px;
        margin-left: 20px;
        width: 100%;
        height: auto;
        display: grid;
        gap: 10px;
    }
    
    .metrics, .hypo{
        font-size: 18px;
    }

    .top {
        display: grid;
    }
    
    .tops {
        margin-top: 20px;
        margin-left: 20px;
        width: 100%;
        display: flex;
        gap: 20px;
    }
    
    .tops .tops2{
        display: none;
    }

    .recom {
        display: flex;
        flex-wrap: wrap;
        gap: 20px; 
    }
    
    .recom1 {
        flex-basis: 100%; 
        height: fit-content;
        padding: 10px;
    }
    
    .recom2 {
        height: 90px;
    }
    
    .recom3 {
        flex-basis: calc(50% - 10px); 
        height: 90px;
    }
    
    .recoms {
        width: 100%;
        height: 120px;
        display: flex;
        margin-top: 1px;
        margin-left: 20px;
        padding-left: 120px;
    }

    .recoms1 {
        display: none;
    }

    .recoms3 {
        height: 90px;
    }
    
    .recoms2 {
        flex-basis: calc(50% - 10px); 
        height: 90px;
    }

    .recomm {
        display: flex;
        margin-left: 20px;
        padding-left: 120px;
        margin-top: -28px;
    }
    
    .recomm1{
        display: none;
    }

    .recomm2{
        height: 90px;
    }
    
    .recomm3{
        flex-basis: calc(50% - 10px);
        height: 90px;
    }
    
    .recommend {
        width: 100%;
        height: 120px;
        display: flex;
        margin-top: -28px;
        margin-left: 20px;
        padding-left: 120px;
    }

    .recommend1 {
        display: none;
    }

    .recommend3 {
        height: 90px;
    }
    
    .recommend2 {
        flex-basis: calc(50% - 10px); 
        height: 90px;
    }

  }
  

