/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #f44718;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
    padding-right: 20px;
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

/* ===== Sidebar ===== */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar.close{
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
/* =========================== */

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 60px;
}

.sidebar li.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
    
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}

.main .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 15px 1px;
}

main.dark .home .text{
    color: var(--text-color);
}

body.dark .home .text{
    color: var(--text-color);
}

/* ===== Sidebar selesai ===== */

.container {
    display: grid;
    gap: 20px; /* Jarak antara kolom */
}

.main {
    background-color: var(--body-color);
    transition: var(--tran-05);
    padding-left: 120px;
}

.revou{
    font-size: 15px;
    display: flex;
    width: 93%;
    min-height: 290px;
    border: 3px solid #ccc;
    padding: 20px;
    padding-left: 50px;
    padding-right: 140px;
    margin: 0 20px;
    margin-top: 5px;
    text-align: center;
    align-items: center;
    justify-content: left;
    color: #707070;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    
}

.revou h1{
    font-size: 40px;
    color: #707070;
}

.revou p{
    font-size: 25px;
    margin: 5px 23px;
    color: #707070;
}

.asides{
    margin-top: -274.5px;
    margin-bottom: 160px;
    margin-left: 20px;
    width: 100%;
    height: 260px;
    display: flex;
    gap: 10px;
}

.asides .left{
    flex: 2;
}

.asides .right{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    background: #92A7DD;
    border-radius: 25px;
    box-sizing: border-box; 
    overflow: hidden;
}

p {
    color: #fff;
    font-weight: 900;
    line-height: 1.5; 
}

.team{
    font-size: 20px;
    width: 100%;
    border: 3px solid #ccc;
    padding: 20px;
    margin-top: -110px;
    margin-left: 20px;
    text-align: center;
    align-items: center;
    color: #707070;
    border-color: #8eb1dc;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
}

.baris1{
    margin-top: 25px;
    margin-bottom: 160px;
    margin-left: 20px;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
    display: flex;
    gap: 30px;
}

.baris1 .lead {
    flex: 1;
}

.baris1 .leader {
    padding: 30px;
    flex: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    box-shadow: -5px 5px 0 #396aa6;
}

.baris2, .baris3, .baris4, .baris5, .baris6{
    margin-top: -130px;
    margin-bottom: 160px;
    margin-left: 20px;
    width: 100%;
    height: fit-content;
    display: flex;
    gap: 30px;
}

.leader, .anggota1, .anggota2, .anggota3, .anggota4, .anggota5, .anggota6, .anggota7, .anggota8, .anggota9, .anggota10 {
    flex: 1;
    display: flex;
    padding: 30px;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background: #92A7DD;
    border-radius: 25px;
    box-shadow: -5px 5px 0 #396aa6;
}

.all img {
    height: 250px;
    border: 3px solid rgba(0, 0, 0, 0.457);
}

.name {
    font-size: 25px;
    flex: 2;
}

.role {
    font-size: 25px;
    flex: 3;
    color: #812f2f;
}


footer {
    background-color: #812f2f;
    text-align: center;
    width: 100%;
    height: fit-content;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: fixed; 
    bottom: 0; 
    left: 0; 
    right: 0; 
}

/* Aturan CSS untuk layar lebar (desktop) */
@media screen and (min-width: 1200px) {
  }
  
  /* Aturan CSS untuk layar menengah (tablet) */
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .revou{
        font-size: 12px;
        width: 100%;
        padding-right: 20px;
    }    

    .asides{
        margin-top: 20px;
        margin-bottom: 130px;
        margin-left: 20px;
        width: 100%;
        height: fit-content;
        display: grid;
        gap: 10px;
    }
    
    .asides .left{
        display: none;
    }

    .team{
        font-size: 15px;
        padding: 10px;
    }
    
    .baris1{
        display: grid;
        justify-content: center;
        margin-top: -5px;
        margin-bottom: 130px;
    }
    
    .baris1 .leader {
        padding: 30px;
        padding-right: 110px;
        padding-left: 110px;
        box-shadow: -5px 5px 0 #396aa6;
    }
    
    .baris2, .baris3, .baris4, .baris5, .baris6{
        justify-content: center;
    }
    
    .leader, .anggota1, .anggota2, .anggota3, .anggota4, .anggota5, .anggota6, .anggota7, .anggota8, .anggota9, .anggota10 {
        padding: 30px;
        box-shadow: -5px 5px 0 #396aa6;
    }
  }
  
  /* Aturan CSS untuk layar kecil (ponsel) */
  @media screen and (max-width: 767px) {
    .revou{
        font-size: 10px;
        width: 100%; 
        padding-right: 20px;       
    }    

    .asides{
        margin-top: 20px;
        margin-bottom: 130px;
        margin-left: 20px;
        width: 100%;
        height: fit-content;
        display: grid;
        gap: 10px;
    }
    
    .asides .left{
        display: none;
    }

    .team{
        font-size: 15px;
        padding: 10px;
    }
    
    .baris1{
        display: grid;
        justify-content: center;
        margin-top: -5px;
        margin-bottom: 130px;
    }
    
    .baris1 .leader {
        padding: 30px;
        padding-right: 70px;
        padding-left: 70px;
        box-shadow: -5px 5px 0 #396aa6;
    }
    
    .baris2, .baris3, .baris4, .baris5, .baris6{
        justify-content: center;
    }
    
    .leader, .anggota1, .anggota2, .anggota3, .anggota4, .anggota5, .anggota6, .anggota7, .anggota8, .anggota9, .anggota10 {
        padding: 30px;
        box-shadow: -5px 5px 0 #396aa6;
    }
  }
  

